
<div class="jumbotron text-center">
  <div class="podl"><h2>ПлиточкаБай</h2></div>
  <div class="podl"><h5>Учет произведенной продукции</h5></div>
</div>

<div class="container-fluid">
  <div class="row">
    <div class="col-sm-4">
      <h3>Категории</h3>
      <div id="div-categories" class="cls-categories list-group">

      </div>
        
    </div>
    <div class="col-sm-8">
      <h3>Колонка 2</h3>
      <p>Просто текст ..</p>
      <p>
        Lorem ipsum dolor, sit amet consectetur adipisicing elit. Nisi, sit ducimus suscipit 
        libero aspernatur qui dolore veniam quo, obcaecati deleniti, iusto illum illo! 
        Ex tempore magni doloremque saepe voluptatem laboriosam.
      </p>
    </div>
    
  </div>
</div>