
<div class="jumbotron text-center">
  <div class="container mt-2 position-relative" style="top: -55px; left: -40px; "> 
  <div class="media p-3">
    <img src="styles/img_avatar.png" alt="John CSS" class="mr-3 mt-3 rounded-circle" style="width:70px;">
    <div class="media-body">
      <h4>John CSS <small><i>Posted on February 19, 2016</i></small></h4>
            
    </div>
  </div>
</div>
  <div class="podl"><h2>ПлиточкаБай</h2></div>
  <div class="podl"><h5>Учет произведенной продукции</h5></div>
</div>

{{!-- -------------------------------------------------------------------- --}}

<div class="cntPage container">
<ul class="nav nav-pills" role="tablist" style="margin: 5px 0 25px 0;">
  <li class="nav-item border" id="li-menu-oprihod">
    <a name="OPRIHOD" class="nav-link active" data-toggle="pill" href="#menu-oprihod">Оприходование</a>
  </li>
  <li class="nav-item border" id="li-menu-allprod">
    <a name="ALL_PROD" class="nav-link" data-toggle="pill" href="#menu-allprod">Всё из Продукция Плиточка</a>
  </li>
</ul>

<!-- Tab panes -->
<div class="tab-content">
  <div class="tab-pane container active" id="menu-oprihod">
    <div class="container-fluid" style="margin: 0; padding: 0;">
      <div class="bckg-row">
        <div class="row form-opihodov" >

        <form id="form_Oprihod" enctype="multipart/form-data">

          <label for="sel-pathName">Категории:</label>
          <select class="form-control" id="sel-pathName" name="sellist-pathName">
           {{!-- ---- dynamic fill ---- --}}
          </select>

          <label for="sel-name">Название:</label>
          <select class="form-control" id="sel-name" name="sellist-name">
           {{!-- ---- dynamic fill ---- --}}
          </select>

          <label for="sel-article">Артикул:</label>
          <select class="form-control" id="sel-article" name="sellist-article">
            <option></option>
            <option>УЦЕНКА</option>
            <option>НК</option>
            <option>ШРГН</option>
          </select>

          <label for="sel-color">Цвет:</label>
            <select class="form-control" id="sel-color" name="sellist-color">
            {{!-- ---- dynamic fill ---- --}}
          </select>

          <label for="count-products">Количество:</label>
          <input id="sel-count" placeholder="Количество" type="number" class="form-control" id="count-products" name="sellist-count">

          <label for="sel-photo">Фото:</label>
          <input id="sel-photo" type="file" name="sellist-photo" accept="image/*" class="form-control-file border btn-sm">
          <div id="statusinfo"><span id="errinfo" style="font-size: 0.8em;"></span><img id="loadstate" class="noloadstate" src="styles/load-img.gif" alt=""></div>
          <br>
       
        </div>
      
          <div class="row" style="margin: 16px 0;">
             <div class="col"><button id="input-product" type="submit" class="btn btn-warning">Добавить в таблицу</button></div>
          </div>
        </form>
      </div>
                        {{!-- таблица оприходования --}}
      <div class="container-fluid">
        <div class="row">
          <div class="col-sm">
            <p id="currenttime" style="font-size: 1.1em; text-align: center; margin: 15px 0;">Таблица оприходования {{data.currTime}}</p>
          </div>
        </div>
        <div class="row">
          <div class="col-sm">
            <div class="col d-flex justify-content-start" style="font-size: 0.8em;">
              <input type="checkbox" id="issendsklad" class="form-check-input" value="" style="transform:scale(1.4); ">Отправить оприходования в МойСклад?
            </div>
          </div>
          <div class="col-sm ">
            <div class="col d-flex justify-content-end"> <span id="oprihodinfo" style="font-size: 0.8em; padding-right: 10px;"></span><img id="loadoprihod" class="noloadstate" src="styles/load-img.gif" alt="" style="margin-bottom: 10px;"> </div>
          </div>
          <div class="col-sm ">
            <div class="col d-flex justify-content-end"><button id="input-oprihod" type="submit" class="btn btn-success">Оприходовать</button></div>
          </div>
          </div>
          <div class="row" style="margin-left: -30px; padding-left: 0;">
          {{!-- таблица --}}
          <div class="col-sm" >
            <div id="contain-table-oprihod"></div>
          </div>
          </div>
        
      </div>

    </div>
  </div>
                          {{!-- -------------- --}}
  <div class="tab-pane container fade" id="menu-allprod">
    <div class="container-fluid">
      <div class="row">
        <div class="col-sm-3">
          <p style="margin-bottom: 10px;">Категории (нажми):</p>
          <div id="div-categories" class="cls-categories list-group">

          </div>
            
        </div>
        <div class="col-sm-9">
          <p>Таблица продукции из <span id="id-label-table-list-from" style="font-size: 0.7em; font-weight: bold;"></span></p>
          <div id="table-container"></div>          
        </div>
        
      </div>
    </div>

  </div>
</div>
</div>
{{!-- --------------------------------------------------------------------- --}}
