
<div class="jumbotron text-center">
  <div class="container mt-2 position-relative" style="top: -55px; left: -40px; "> 
  <div class="media p-3">
    <img src="styles/img_avatar.png" alt="John CSS" class="mr-3 mt-3 rounded-circle" style="width:70px;">
    <div class="media-body">
      <p>{{data.name}}<p> <i> {{data.id}} </i></p></p>
            
    </div>
  </div>
</div>
  <div class="podl"><h2>ПлиточкаБай</h2></div>
  <div class="podl"><h5>Учет произведенной продукции</h5></div>
</div>

{{!-- -------------------------------------------------------------------- --}}

<div class="cntPage container">
<ul class="nav nav-pills" role="tablist" style="margin: 5px 0 25px 0;">
  <li class="nav-item border" id="li-menu-oprihod">
    <a name="OPRIHOD" class="nav-link active icons" data-toggle="pill" href="#menu-oprihod"><img src="styles/telega.png" style="margin-left: -10px; width: 30px; height: 20px;" alt=""> Оприходование</a>
  </li>
  <li class="nav-item border" id="li-menu-allprod">
    <a name="ALL_PROD" class="nav-link" data-toggle="pill" href="#menu-allprod"><img src="styles/allpath.png" style="margin-left: -10px; width: 20px; height: 20px;" alt=""> Всё из Продукция Плиточка</a>
  </li>
  <li class="nav-item border" id="li-menu-setting">
    <a name="SETTING" class="nav-link" data-toggle="pill" href="#menu-setting"><img src="styles/setting.png" style="margin-left: -10px; width: 20px; height: 20px;" alt=""> Настройки</a>
  </li>
</ul>

<!-- Tab panes -->
<div class="tab-content">
  <div class="tab-pane container active" id="menu-oprihod">
    <div class="container-fluid" style="margin: 0; padding: 0;">
      <div class="bckg-row">
        <div class="row form-opihodov" >

        <form id="form_Oprihod" enctype="multipart/form-data">
          <div id="statusinfo"><span id="oprinfocats" style="font-size: 0.8em;"></span><img id="loadoprcats" class="noloadstate" src="styles/load-img.gif" alt=""></div>
          <label for="sel-pathName">Категории:</label>
          <select class="form-control" id="sel-pathName" name="sellist-pathName">
           {{!-- ---- dynamic fill ---- --}}
          </select>

          <label for="sel-name">Название:</label>
          <select class="form-control" id="sel-name" name="sellist-name">
           {{!-- ---- dynamic fill ---- --}}
          </select>

          <label for="sel-article">Артикул:</label>
          <select class="form-control" id="sel-article" name="sellist-article">
            <option></option>
            <option>УЦЕНКА</option>
            <option>НК</option>
            <option>ШРГН</option>
          </select>

          <label for="sel-color">Цвет:</label>
            <select class="form-control" id="sel-color" name="sellist-color">
            {{!-- ---- dynamic fill ---- --}}
          </select>

          <label for="count-products">Количество:</label>
          <input id="sel-count" placeholder="Количество" type="number" class="form-control"  id="count-products" name="sellist-count">

          <label for="sel-photo">Фото:</label>
          <input id="sel-photo" type="file" name="sellist-photo" accept="image/*" class="form-control-file border btn-sm">
          <div id="statusinfo"><span id="errinfo" style="font-size: 0.8em;"></span><img id="loadstate" class="noloadstate" src="styles/load-img.gif" alt=""></div>
          <br>
       
        </div>
      
          <div class="row" style="margin: 16px 0;">
             <div class="col"><button id="input-product" type="submit" class="btn btn-warning">Добавить в таблицу</button></div>
          </div>
        </form>
      </div>
                        {{!-- таблица оприходования --}}
      <div class="container-fluid">
        <div class="row">
          <div class="col-sm">
            <p id="currenttime" style="font-size: 1.1em; text-align: center; margin: 15px 0;">Таблица оприходования {{data.currTime}}</p>
          </div>
        </div>
        <div class="row">
          <div class="col-sm">
            <div class="col d-flex justify-content-start" style="font-size: 0.8em;">
              <input type="checkbox" id="issendsklad" class="form-check-input" value="" style="transform:scale(1.8); ">Отправить оприходования в "МойСклад"?
            </div>
          </div>
          <div class="col-sm ">
            <div class="col d-flex justify-content-end"> <span id="oprihodinfo" style="font-size: 0.8em; padding-right: 10px;"></span><img id="loadoprihod" class="noloadstate" src="styles/load-img.gif" alt="" style="margin-bottom: 10px;"> </div>
          </div>
          <div class="col-sm ">
            <div class="col d-flex justify-content-end"><button id="input-oprihod" type="submit" class="btn btn-success" style="font-size: 1.1em;">Оприходовать</button></div>
          </div>
          <div class="col-sm ">
              <div class="col d-flex justify-content-end"><button id="input-downloadfile" class="btn-sm btn-secondary" style="padding: 4px; margin-top: 25px;"><img src="styles/exceli.png" style="margin-left: -2px; width: 25px; height: 25px;" alt=""> Скачать все оприходования</button></div>
          </div>
          </div>
          <div class="row" style="margin-left: -30px; padding-left: 0;">
          {{!-- таблица --}}
          <div class="col-sm" >
            <div id="contain-table-oprihod"></div>
          </div>
          </div>
        
      </div>

    </div>
  </div>
                          {{!-- -------------- --}}
  <div class="tab-pane container fade" id="menu-allprod">
    <div class="container-fluid">
      <div class="row">
        <div class="col-sm-3">
          <p style="margin-bottom: 10px;">Категории (нажми):</p>
          <div id="div-categories" class="cls-categories list-group">

          </div>
            
        </div>
        <div class="col-sm-9">
          <p>Таблица продукции из <span id="id-label-table-list-from" style="font-size: 0.7em; font-weight: bold;"></span></p>
          <div id="table-container"></div>          
        </div>
        
      </div>
    </div>

  </div>
                         {{!-- -------------- --}}
  <div class="tab-pane container fade" id="menu-setting">
    <div class="container-fluid">

      <div class="row">
        <div class="col-sm">
          <p style="margin-bottom: 10px; font-size: 1.1em;">Некоторые настройки:</p>
        </div>
      </div>

      <div class="bckg-row">
        <div class="row">
          <div class="col-sm">
            <p style="font-size: 0.8em;">Выгрузить все данные о продукции из раздела "Продукция Плиточка" МойСклад в базу данных.</p>

            <div class="row">
                <div class="col-sm-6">
                  <button id="rewrite-db" type="submit" class="btn-sm btn-primary">Перезаписать таблицу бд</button>
                </div>
                <div class="col-sm-6">
                  <div id="statusinfo"><span id="errinforewrite" style="font-size: 0.8em;"></span><img id="loadstaterewrite" class="noloadstate" src="styles/load-img.gif" alt=""></div>
                  <p id="info-rewriteDb"></p>
                </div>
            </div>
            
          </div>
        </div>
      </div>
      <br>
       <div class="bckg-row">
        <div class="row">
          <div class="col-sm">
            <p style="font-size: 0.8em;">Заменить токен доступа к api "МойСклад"</p>

            <div style="padding: 10px; width: 180px;">
              <form id="form_refresh_token" enctype="multipart/form-data" name="form_refresh_token">
                <label for="sklad-login">логин МойСклад:</label>
                <input id="sklad-login" placeholder="логин МойСклад" type="text" class="form-control" name="sklad-login"> 

                <label for="sklad-password">пароль МойСклад:</label>
                <input id="sklad-password" placeholder="пароль МойСклад" type="password" class="form-control" name="sklad-password">
                <br>
                <button id="refresh-token" type="submit" class="btn-sm btn-danger">заменить токен</button>
                <p id="resultreftoken" style="font-size: 0.8em;"></p>
              </form>
            </div>
          </div>
          
        </div>
      </div>

    </div>

</div>
</div>
{{!-- --------------------------------------------------------------------- --}}
